--
-- PostgreSQL database dump
--

\restrict mLq29xykzOguSpnI8IItGeVDrT79TVAegweaR0anaUjsDOjAx0YMje1xL3uglIV

-- Dumped from database version 16.10
-- Dumped by pg_dump version 16.10

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: pgcrypto; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS pgcrypto WITH SCHEMA public;


--
-- Name: EXTENSION pgcrypto; Type: COMMENT; Schema: -; Owner: -
--

COMMENT ON EXTENSION pgcrypto IS 'cryptographic functions';


--
-- Name: campaign_role; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.campaign_role AS ENUM (
    'owner',
    'dm',
    'player',
    'viewer'
);


--
-- Name: membership_role; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.membership_role AS ENUM (
    'owner',
    'dm',
    'player'
);


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: app_user; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.app_user (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    email text NOT NULL,
    name text NOT NULL
);


--
-- Name: campaign; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.campaign (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    slug text NOT NULL,
    title text NOT NULL,
    created_by uuid
);


--
-- Name: campaigns; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.campaigns (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    name text NOT NULL,
    created_by uuid NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Name: events; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.events (
    event_id uuid NOT NULL,
    stream_id uuid NOT NULL,
    version bigint NOT NULL,
    type text NOT NULL,
    payload jsonb NOT NULL,
    created_at timestamp with time zone DEFAULT now(),
    correlation_id uuid
);


--
-- Name: membership; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.membership (
    user_id uuid NOT NULL,
    campaign_id uuid NOT NULL,
    role public.campaign_role NOT NULL,
    is_active boolean DEFAULT true NOT NULL
);


--
-- Name: memberships; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.memberships (
    user_id uuid NOT NULL,
    campaign_id uuid NOT NULL,
    role public.membership_role DEFAULT 'player'::public.membership_role NOT NULL,
    is_active boolean DEFAULT true NOT NULL
);


--
-- Name: migrations; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.migrations (
    id integer NOT NULL,
    filename character varying(255) NOT NULL,
    executed_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


--
-- Name: migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.migrations_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: migrations_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.migrations_id_seq OWNED BY public.migrations.id;


--
-- Name: room_acl; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.room_acl (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    campaign_id uuid NOT NULL,
    room_kind text NOT NULL,
    can_join_roles public.campaign_role[] NOT NULL,
    created_at timestamp with time zone DEFAULT now()
);


--
-- Name: room_events; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.room_events (
    id bigint NOT NULL,
    campaign_id uuid NOT NULL,
    room_type text NOT NULL,
    version bigint NOT NULL,
    correlation_id uuid NOT NULL,
    user_id uuid,
    kind text NOT NULL,
    payload jsonb NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Name: room_events_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.room_events_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: room_events_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.room_events_id_seq OWNED BY public.room_events.id;


--
-- Name: room_snapshots; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.room_snapshots (
    id bigint NOT NULL,
    campaign_id uuid NOT NULL,
    room_type text NOT NULL,
    version bigint NOT NULL,
    state bytea NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Name: room_snapshots_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.room_snapshots_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: room_snapshots_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.room_snapshots_id_seq OWNED BY public.room_snapshots.id;


--
-- Name: snapshots; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.snapshots (
    snapshot_id uuid NOT NULL,
    stream_id uuid NOT NULL,
    version bigint NOT NULL,
    state jsonb NOT NULL,
    created_at timestamp with time zone DEFAULT now()
);


--
-- Name: streams; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.streams (
    stream_id uuid NOT NULL,
    stream_type text NOT NULL,
    created_at timestamp with time zone DEFAULT now()
);


--
-- Name: users; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.users (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    handle text NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Name: migrations id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.migrations ALTER COLUMN id SET DEFAULT nextval('public.migrations_id_seq'::regclass);


--
-- Name: room_events id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.room_events ALTER COLUMN id SET DEFAULT nextval('public.room_events_id_seq'::regclass);


--
-- Name: room_snapshots id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.room_snapshots ALTER COLUMN id SET DEFAULT nextval('public.room_snapshots_id_seq'::regclass);


--
-- Name: app_user app_user_email_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.app_user
    ADD CONSTRAINT app_user_email_key UNIQUE (email);


--
-- Name: app_user app_user_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.app_user
    ADD CONSTRAINT app_user_pkey PRIMARY KEY (id);


--
-- Name: campaign campaign_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.campaign
    ADD CONSTRAINT campaign_pkey PRIMARY KEY (id);


--
-- Name: campaign campaign_slug_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.campaign
    ADD CONSTRAINT campaign_slug_key UNIQUE (slug);


--
-- Name: campaigns campaigns_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.campaigns
    ADD CONSTRAINT campaigns_pkey PRIMARY KEY (id);


--
-- Name: events events_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.events
    ADD CONSTRAINT events_pkey PRIMARY KEY (event_id);


--
-- Name: events events_stream_id_version_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.events
    ADD CONSTRAINT events_stream_id_version_key UNIQUE (stream_id, version);


--
-- Name: membership membership_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.membership
    ADD CONSTRAINT membership_pkey PRIMARY KEY (user_id, campaign_id);


--
-- Name: memberships memberships_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.memberships
    ADD CONSTRAINT memberships_pkey PRIMARY KEY (user_id, campaign_id);


--
-- Name: migrations migrations_filename_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.migrations
    ADD CONSTRAINT migrations_filename_key UNIQUE (filename);


--
-- Name: migrations migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.migrations
    ADD CONSTRAINT migrations_pkey PRIMARY KEY (id);


--
-- Name: room_acl room_acl_campaign_id_room_kind_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.room_acl
    ADD CONSTRAINT room_acl_campaign_id_room_kind_key UNIQUE (campaign_id, room_kind);


--
-- Name: room_acl room_acl_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.room_acl
    ADD CONSTRAINT room_acl_pkey PRIMARY KEY (id);


--
-- Name: room_events room_events_campaign_id_room_type_version_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.room_events
    ADD CONSTRAINT room_events_campaign_id_room_type_version_key UNIQUE (campaign_id, room_type, version);


--
-- Name: room_events room_events_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.room_events
    ADD CONSTRAINT room_events_pkey PRIMARY KEY (id);


--
-- Name: room_snapshots room_snapshots_campaign_id_room_type_version_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.room_snapshots
    ADD CONSTRAINT room_snapshots_campaign_id_room_type_version_key UNIQUE (campaign_id, room_type, version);


--
-- Name: room_snapshots room_snapshots_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.room_snapshots
    ADD CONSTRAINT room_snapshots_pkey PRIMARY KEY (id);


--
-- Name: snapshots snapshots_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.snapshots
    ADD CONSTRAINT snapshots_pkey PRIMARY KEY (snapshot_id);


--
-- Name: snapshots snapshots_stream_id_uk; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.snapshots
    ADD CONSTRAINT snapshots_stream_id_uk UNIQUE (stream_id);


--
-- Name: snapshots snapshots_stream_id_version_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.snapshots
    ADD CONSTRAINT snapshots_stream_id_version_key UNIQUE (stream_id, version);


--
-- Name: streams streams_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.streams
    ADD CONSTRAINT streams_pkey PRIMARY KEY (stream_id);


--
-- Name: users users_handle_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_handle_key UNIQUE (handle);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: campaign_created_by_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX campaign_created_by_idx ON public.campaign USING btree (created_by);


--
-- Name: events_stream_version_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX events_stream_version_idx ON public.events USING btree (stream_id, version DESC);


--
-- Name: events_stream_version_uidx; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX events_stream_version_uidx ON public.events USING btree (stream_id, version);


--
-- Name: idx_campaign_created_by; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_campaign_created_by ON public.campaign USING btree (created_by);


--
-- Name: idx_events_campaign_version; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_events_campaign_version ON public.room_events USING btree (campaign_id, room_type, version);


--
-- Name: idx_events_stream_created; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_events_stream_created ON public.room_events USING btree (campaign_id, created_at);


--
-- Name: idx_events_stream_version; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_events_stream_version ON public.events USING btree (stream_id, version);


--
-- Name: idx_membership_campaign_user; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_membership_campaign_user ON public.memberships USING btree (campaign_id, user_id);


--
-- Name: idx_memberships_campaign_user; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_memberships_campaign_user ON public.memberships USING btree (campaign_id, user_id);


--
-- Name: idx_snapshots_campaign_version; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_snapshots_campaign_version ON public.room_snapshots USING btree (campaign_id, room_type, version);


--
-- Name: idx_snapshots_stream_version; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_snapshots_stream_version ON public.room_snapshots USING btree (campaign_id, version DESC);


--
-- Name: ix_events_correlation; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_events_correlation ON public.events USING btree (correlation_id);


--
-- Name: membership_active_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX membership_active_idx ON public.memberships USING btree (campaign_id, user_id) WHERE (is_active = true);


--
-- Name: snapshots_stream_version_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX snapshots_stream_version_idx ON public.snapshots USING btree (stream_id, version DESC);


--
-- Name: campaign campaign_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.campaign
    ADD CONSTRAINT campaign_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.app_user(id) ON DELETE SET NULL;


--
-- Name: campaigns campaigns_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.campaigns
    ADD CONSTRAINT campaigns_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(id) ON DELETE RESTRICT;


--
-- Name: events events_stream_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.events
    ADD CONSTRAINT events_stream_id_fkey FOREIGN KEY (stream_id) REFERENCES public.streams(stream_id) ON DELETE CASCADE;


--
-- Name: membership membership_campaign_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.membership
    ADD CONSTRAINT membership_campaign_id_fkey FOREIGN KEY (campaign_id) REFERENCES public.campaign(id) ON DELETE CASCADE;


--
-- Name: membership membership_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.membership
    ADD CONSTRAINT membership_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.app_user(id) ON DELETE CASCADE;


--
-- Name: memberships memberships_campaign_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.memberships
    ADD CONSTRAINT memberships_campaign_id_fkey FOREIGN KEY (campaign_id) REFERENCES public.campaigns(id) ON DELETE CASCADE;


--
-- Name: memberships memberships_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.memberships
    ADD CONSTRAINT memberships_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: room_acl room_acl_campaign_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.room_acl
    ADD CONSTRAINT room_acl_campaign_id_fkey FOREIGN KEY (campaign_id) REFERENCES public.campaign(id);


--
-- Name: room_events room_events_campaign_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.room_events
    ADD CONSTRAINT room_events_campaign_id_fkey FOREIGN KEY (campaign_id) REFERENCES public.campaigns(id) ON DELETE CASCADE;


--
-- Name: room_snapshots room_snapshots_campaign_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.room_snapshots
    ADD CONSTRAINT room_snapshots_campaign_id_fkey FOREIGN KEY (campaign_id) REFERENCES public.campaigns(id) ON DELETE CASCADE;


--
-- Name: snapshots snapshots_stream_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.snapshots
    ADD CONSTRAINT snapshots_stream_id_fkey FOREIGN KEY (stream_id) REFERENCES public.streams(stream_id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict mLq29xykzOguSpnI8IItGeVDrT79TVAegweaR0anaUjsDOjAx0YMje1xL3uglIV

